<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ass 3 bitch</title>

    <!--      import of JQuery     -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <!--      end import      -->

    <!--    import of BOOSTRAP   -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <!--      end import    -->

    <!--    import of Angular    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <!--      end import      -->

    <!--  Maps API import  -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <!--  CSS and Favicon imports  -->
    <link type="text/html" rel="stylesheet" href="resources/css/root.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="resources/images/NY-favicon2.ico"/>

    <!--  Sortable import  -->
    <link rel="stylesheet" type="text/css" href="resources/sortable/ng-sortable.css">
</head>


<body ng-app="myApp">

    <!--    load app    -->
    <script src="app.js"></script>

    <!--    load more js files   TODO : FOR SORTABLE  -->
    <script src="resources/sortable/ng-sortable.js"></script>

    <!--    load controllers    -->
    <script src="js/registerController.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/welcome.js"></script>
    <script src="js/entranceController.js"></script>
    <script src="js/poisController.js"></script>
    <script src="js/favoritePoisController.js"></script>
    <script src="js/singlePoi.js"></script>



    <!--     Website     -->

    <!--    Nav Bar     -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" ng-controller="mainController">
        <a class="navbar-brand" href="#">
            <img class="nav-img" src="resources/images/ny-logo1.png" height="55px" width="65px" alt="NYC">
            New York
        </a>
        <div class="nav-link">
            Hello, {{rUsername}}
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active" ng-show="!rToken">
                    <a class="nav-link" href="#!/login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#!/register" ng-show="!rToken">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/" ng-show="rToken" ng-click="logout()">Logout</a>
                </li>
                <li class="nav-item" ng-show="rToken">
                    <a class="nav-link" href="#!/welcome">My Zone</a>
                </li>
                <li class="nav-item" ng-show="rToken"> <!-- TODO: add show and hide for badge -->
                    <a class="nav-link" href="#!/userFavoritePOIs">FavouritePOI <span class="badge badge-success">3</span></a>
                </li>
                <li class="nav-item" ng-show="rToken">
                    <a class="nav-link" href="#!/POIS">Explore NYC</a>
                </li>
            </ul>
            

<!--            <div class="align-self-end">-->
                <form class="form-inline my-2 my-lg-0" ng-show="rToken">
                    <input class="form-control mr-sm-2" ng-model="text"
                           ng-disabled="$window.location.href.includes('POIS')" id="searchVal" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ng-click="search()">Search</button>
                </form>
<!--            </div>-->



        </div>
    </nav>

    <br><br><br><br>

    <ng-view></ng-view>


</body>

</html>