<html>
<head>
    <link rel="stylesheet" type="text/css" href="pages/login/css/login.css">
    <link rel="stylesheet" type="text/css" href="resources/css/root.css">
</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="pages/login/images/icons/favicon.ico" class="nav-img" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form ng-show="!forgot">
            <input type="text" id="login" ng-model="username" class="fadeIn second" name="login" placeholder="Login">
            <input type="password" id="password" ng-model="password" class="fadeIn third" name="login" placeholder="Password">
            <input type="submit" ng-click="login()" class="fadeIn fourth" value="Log In">
        </form>

        <form ng-show="forgot">
            <input type="text" id="forgotUsername" ng-model="forgotUsername" placeholder="Username to restore">
            <select id="forgotQuestions" class="text-break" ng-model="selection">
                <option class="text-break" ng-repeat="quest in forgotQuestions">{{quest.toString()}}</option>
            </select>
            <input ng-show="showAnswer" type="text" id="forgotAnswer" ng-model="forgotAnswer" placeholder="Your Answer">

            <input ng-show="!showAnswer" type="submit" ng-click="getQuest()" class="fadeIn" value="Get questions">
            <input ng-show="showAnswer" type="submit" ng-click="resetPass()" class="fadeIn" value="Get password">

        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <button ng-show="!forgot" ng-click="setForgot(true)" class="underlineHover btn">Forgot Password?</button>
            <button ng-show="forgot" ng-click="setForgot(false)" class="underlineHover btn">Sign In</button>
        </div>




    </div>
</div>
</body>
</html>