img {
    max-width: 100%;
    max-height: 100%;
}

.nav-img {
    height: 55px;
    width: 65px;
}

.div-img {
    height: 100px;
    width: 100px;
}

.user {
    text-align: left;
    padding: 8px;
}

/* .navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
} */
#mainPage{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background:red;
    text-align:center;
    font-size:40px;
    color:white;
}

/********************     FAVORITE ICON       *************************/

.fa-star {
    color: darkorange;
}

.black {
    color: black;
}

.dark_orange {
    color: darkorange;
}



/*.fav {*/
/*    background-position: left;*/
/*    background-repeat: no-repeat;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*}*/

/*.fav:hover {*/
/*    background-position: right;*/
/*}*/

/*.fav-star {*/
/*    background-image: url("https://cssanimation.rocks/images/posts/steps/twitter_fave.png");*/
/*    height: 45px;*/
/*    width: 64px;*/
/*/ / 3584 px / 56 frames*!*!*/
/*}*/

/*.fav-star.is-animating {*/
/*    animation: zoetrope .8s steps(55) 1;*/
/*}*/

/*@keyframes zoetrope {*/
/*    from { background-position: left;  }*/
/*    to   { background-position: right; }*/
/*}*/

/*.fave {*/
/*    width: 70px;*/
/*    height: 50px;*/
/*    background: #fff url(/resources/images/twitter_fave.png) no-repeat;*/
/*}*/

/*.fave:hover {*/
/*    background-position: -3519px 0;*/
/*    transition: background 1s steps(55);*/
/*}*/