img {
    max-width: 100%;
    max-height: 100%;
}

.nav-img {
    height: 55px;
    width: 65px;
}

.div-img {
    height: 100px;
    width: 100px;
}

#colSearch{
    z-index: 1;
    max-width: 25%;
}

#colSearch:hover{
    z-index: 100;
}

.search-img:hover{
    cursor: pointer;
    transform: scale(1.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(22, 29, 36, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(22, 29, 36, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(22, 29, 36, 0.67);
    z-index: 100;
}

.user {
    text-align: left;
    padding: 8px;
}

/* .navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
} */
#mainPage{
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;
    background:red;
    text-align:center;
    font-size:40px;
    color:white;
}

/*body {*/
/*    background-image: url("../images/background.jpg");*/
/*    background-size: 100%;*/
/*}*/