<h1>{{rUsername}}, we have some stuff for you</h1>
<div class="container-fluid">
    <h2 ng-model="intro">{{intro}}</h2>
    <div class="row justify-content-center">
        <ul id="sortableArray" data-as-sortable="dragControlListeners" data-ng-model="sortableArray">
            <li id="sortableItem-{{$index}}" ng-repeat="item in sortableArray" data-as-sortable-item>
                <div data-as-sortable-item-handle>
                    <a tabber href="#!/singlePoi/{{item.name}}">
                        <img class="img-thumbnail div-img rounded" height="750px" width="750px" ng-src="{{item.picture}}">
                        <p><span ng-click="expandPoi()">Name: {{item.name}}</span></p>
                    </a>
                    <p><span>Category: {{item.category}}</span></p>
                    <p>
                        <i id="fav_star_in_favorites-{{$index}}" style="color:darkorange; cursor: pointer" class="fa fa-star"
                           ng-click="changeFavoriteFromFavoriteController($event, item)"></i>
                    </p>
                </div>
            </li>
            <br>
            <div>
                <button ng-click="uploadToServer()" class="save_in_server">Save Favorites</button>
            </div>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><span class="font-italic"></span> Favorites Updated Successfully</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label> All your current favorite points of interest, along with their respective order, has been saved! </label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>