<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/css/root.css">
</head>
<body>

<select id="selection" ng-model="selection" ng-show="fetched" ng-change="updateResults()" >
    <!--    <option ng-selected="initor">Show All</option>-->
    <option class="text-capitalize" ng-repeat="cat in categories">{{cat.name}}</option>
</select>

<input ng-model="searchVal" type="text" ng-show="fetched" ng-change="updateResults()" >

<br><br>

<div class="container-fluid">
    <div class="row" ng-repeat="(key, value) in results">
        <div class="col wd-25" id="colSearch" ng-repeat="item in value">
            <figure  class="search-img" id="{{item.name}}" ng-click="poiClicked($event)">
                <img class="img-thumbnail rounded" height="400px" width="400px" ng-src="{{item.picture}}">
                <figcaption class="figure-caption text-center">{{item.name}}</figcaption>
            </figure>

        </div>
    </div>

    <h2 ng-show="size === 0">We couldn't find any points that meet your search</h2>

</div>

</body>
</html>