<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="resources/css/root.css">
    <style>
        body {
            background: blanchedalmond no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

<form>
    <div class="container">
        <div class="form-row justify-content-md-center">
            <div class="col-4">
                <select class="custom-select" id="selection" ng-model="selection" ng-show="fetched" ng-change="updateResults()" >
                    <!--    <option ng-selected="initor">Show All</option>-->
                    <option class="text-capitalize" ng-repeat="cat in categories">{{cat.name}}</option>
                </select>
            </div>
            <div class="col-4">
                <input class="form-control" ng-model="searchVal" type="text"
                       placeholder="Search..." ng-show="fetched" ng-change="updateResults()" >
            </div>

        </div>
    </div>
</form>

<br><br>

<div class="container-fluid">
    <div class="row  mb-4" ng-repeat="(key, value) in results">
        <div class="col-4 text-center" id="colSearch" ng-repeat="item in value">
            <figure  class="search-img" id="{{item.name}}">
                <a href="#!/singlePoi/{{item.name}}">
                    <figure class="mb-0">
                        <img class="img-thumbnail rounded" height="400px" width="400px" ng-src="{{item.picture}}">
                        <figcaption class="figure-caption text-center">{{item.name}}</figcaption>
                        <figcaption class="figure-caption text-center">{{item.category}}</figcaption>
                    </figure>
                </a>
                <figcaption class="figure-caption text-center">
                    <i id="fav_star_explore-{{$parent.$index}}-{{$index}}" style="cursor: pointer" class="fa fa-star fa-lg" ng-style="{color: item.color}"
                       ng-click="changeFavoriteFromPoisController($event, item)">
                    </i>
                </figcaption>
            </figure>

        </div>
    </div>

    <h2 ng-show="size === 0">We couldn't find any points that meet your search</h2>

</div>

</body>
</html>