<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<select id="selection" ng-model="selection" ng-change="updateResults()">
    <option>Show All</option>
    <option ng-repeat="cat in categories">{{cat.name}}</option>
</select>

<input ng-model="searchVal" type="text" ng-change="updateResults()" >

<div class="container-fluid">
    <div class="row" ng-repeat="arr in results">
        <div class="col" ng-repeat="item in arr">
            <a tabber href="#!/singlePoi/{{item.name}}">
                <img class="img-thumbnail div-img rounded" height="400px" width="400px" ng-src="{{item.picture}}">
                <!--            <p ng-repeat="(x,y) in item">{{x+ " "  +y}}</p>-->
                <p><span ng-click="expandPoi()">Name: {{item.name}}</span></p>
            </a>
            <p><span>Category: {{item.category}}</span></p>
            <p><span>Rank: {{item.rank}}</span></p>
            <p><span>Watched: {{item.watched}}</span></p>

        </div>
    </div>

</div>

</body>
</html>