<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/resources/css/register.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="/resources/css/register.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
</head>
<body>
<pre>user = {{user | json}}</pre>
<pre>master = {{master | json}}</pre>
<style type="text/css">
    .registrationForm input.ng-invalid.ng-touched {
        background-color: #FA787E;
    }

    .registrationForm input.ng-valid.ng-touched {
        background-color: #78FA89;
    }
</style>
<div style="text-align: center;">
    <h1>
        REGISTRATION
    </h1>
</div>
<form novalidate  class="registrationForm">
<div class="container">
    <div class="row">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <hr />
            </div>
        </div>
        <div class="main-login main-center">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="name" class="cols-sm-2 control-label" >Your Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="name" id="name" ng-model="user.name" required  placeholder="Enter your Name"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="email" class="cols-sm-2 control-label">Your Email</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                        <input type="email" class="form-control" name="email" id="email"  ng-model="user.email" required placeholder="Enter your Email"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="username" class="cols-sm-2 control-label">Last Name</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="username" ng-model="user.lastName" required id="username"  placeholder="Enter your Username"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="password" class="cols-sm-2 control-label">Password</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" name="password" ng-model="user.password1" id="password"  placeholder="Enter your Password"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="country" class="cols-sm-2 control-label">SELECT COUNTRY</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-flag-checkered" style="font-size:18px"></i></span>
                        <select id ="country" class="form-control" ng-model="user.country" required>
                            <option value="" disabled selected>CHOOSE</option>
                            <option ng-repeat="cat in categories">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="city" class="cols-sm-2 control-label">city</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
                        <input type="text" class="form-control" name="city" id="city" ng-model="user.city" required placeholder="BeerSheva"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="firstCat" class="cols-sm-2 control-label">SELECT FIRST CATEGORY</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bookmark-o" style="font-size:20px"></i></span>
                        <select id ="firstCat" class="form-control" ng-model="user.firstCat" required >
                            <option value="" disabled selected  >CHOOSE</option>
                            <option ng-repeat="cat in categories">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="secondCat" class="cols-sm-2 control-label">SELECT SECOND CATEGORY</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-bookmark-o" style="font-size:20px"></i></span>
                        <select id ="secondCat" class="form-control" ng-model="user.secondCat" required >
                            <option value="" disabled selected>CHOOSE</option>
                            <option ng-repeat="cat in categories">{{cat.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="qusetions" class="cols-sm-2 control-label">SELECT QUESTION</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-question-circle-o" style="font-size:20px;color:gray"></i></span>
                        <select id ="qusetions" class="form-control" ng-model="user.question" required >
                            <option value="" disabled selected>CHOOSE</option>
                            <option ng-repeat="cat in questions">{{cat}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="answer" class="cols-sm-2 control-label">SECURITY QUESTION ANSWER </label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-unlock-alt" style="font-size:20px"></i></span>
                        <input type="text" class="form-control" name="answer" ng-model="user.answer" required id="answer"  placeholder="Answer"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">


        </div>
    </div>
    <div style="text-align: center;">
            <div class="form-group ">
                <div style="text-align: center;">
                <button type="button" class="btn btn-primary" ng-click="ctrl.update(user)">Register</button><br><br>
                <input type="button" class="btn btn-warning" ng-click="reset()" value="Reset" />
                </div>
            </div>
        </center>
    </div>


</div>
</form>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>