<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/resources/css/register.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="/resources/css/register.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <title>Admin</title>
    <meta charset="UTF-8">
</head>
<body>
<!/----------QUESTION-------------/>
<div class="form-control" >
    <div class="w-50">
        <div class="input-group">
            <label for="qusetions" class="cols-sm-2 control-label">SELECT QUESTION</label>
            <span class="input-group-addon"><i class="fa fa-question-circle-o" style="font-size:20px;color:gray"></i></span>
            <select id  ="qusetions" name = "quest" class="form-control" ng-model="user.questions.quest" required >
                <option value="" disabled selected>CHOOSE</option>
                <option  ng-repeat="cat in questions">{{cat}}</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>