<div class="container-fluid">
    <div class="row">
        <div class="col" ng-repeat="item in recomended">
            <a tabber href="#!/singlePoi/{{item.name}}">
            <img class="img-thumbnail div-img" ng-src="{{item.picture}}">
<!--            <p ng-repeat="(x,y) in item">{{x+ " "  +y}}</p>-->
            <p><span ng-click="expandPoi()">Name: {{item.name}}</span></p>
            </a>
            <p><span>Category: {{item.category}}</span></p>
            <p><span>Rank: {{item.rank}}</span></p>
            <p><span>Watched: {{item.watched}}</span></p>

            <div id="star_container">
                <button class="star">
                    <i id="favorite_star" class="fa fa-star"></i>
                </button>
            </div>

        </div>
    </div>

</div>