<div class="container-fluid">
    <div class="row">
        <div class="col" ng-repeat="item in recomended">
            <img class="img-thumbnail div-img" ng-src="{{item.picture}}">
<!--            <p ng-repeat="(x,y) in item">{{x+ " "  +y}}</p>-->
            <p><span>Name: {{item.name}}</span></p>
            <p><span>Category: {{item.category}}</span></p>
            <p><span>Rank: {{item.rank}}</span></p>
            <p><span>Watched: {{item.watched}}</span></p>




            </p>
        </div>
    </div>

</div>